<p>Slotting child content with ng-content</p>
<hr>
<app-my-content>Projected Content for ng-content</app-my-content>
<br>
<app-base-button type="button">A Button</app-base-button>
<br>
<app-base-button type="submit">Submit</app-base-button>
<br>
<app-base-button type="reset">Reset</app-base-button>
<br>
<app-base-button type="cancel">Cancel</app-base-button>
<br>
<app-base-button type="delete">Delete</app-base-button>
<br>
<app-base-button type="deleteAll">Delete All</app-base-button>
<br>
<app-base-button type="add">Add</app-base-button>
<hr>
<p>Create template fragments with ng-template</p>
<hr>
<app-my-template></app-my-template>
<br>
<app-my-async-template></app-my-async-template>
<br>
<app-my-defer></app-my-defer>
<router-outlet />
